<!DOCTYPE html>
    <html>
    <head>
            {{sndmap.js}}
            <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
	<h1> Doctor Address Look Up </h1>
       	<h3> Type in the doctors First and Last name to locate their clinic </h3>

	<form method = "POST">
        First name:
        <input type="text" name="firstname" >
        <br> Last name:
        <input type="text" name="lastname">
        <br><br>
        <input type="submit" value="Submit">
        <br><br>
    </form>
	{{sndmap.html}}

    </body>
</html>
